﻿@using Microsoft.AspNet.Identity

<li>
    @Html.ActionLink("English", "ChangeCulture", "Home", new
{
    lang = "en",
    returnUrl =
this.Request.RawUrl
}, null)
</li>

<li>
@Html.ActionLink("Türkçe", "ChangeCulture", "Home", new
{
    lang = "tr",
    returnUrl =
this.Request.RawUrl
}, null)
</li>
