﻿@model List<teknosatis.Models.Urun>

<hr />
<br />
<div class="row">
    @{
        foreach (var item in Model)
        {

            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src=@item.ResimYol alt="" href="Urunler/@item.Kategori/1" style="width:200px;height:150px">
                    <div class="caption">
                        <h4 class="pull-right">@item.Fiyat ₺</h4>
                        <h4>
                            <a href="Urunler/@item.Kategori/1">@item.Ad-@item.Detay</a>
                        </h4>
                     </div>
                </div>
            </div>
        }
    }
   
</div>