﻿@{
    ViewBag.Title = "teknosatis";
}

<hr />
<div class="row">
    <div class="col-md-3 col-xs-12">
        @RenderPage("~/Views/Home/Kategori.cshtml")
        <hr />
    </div>

    <div class="col-md-9 col-xs-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://www.thesource.ca/medias/8028768-A-mediaConversion-original-1-mediaConversion-640-x-480-mediaConversion-400-x-300-0?context=bWFzdGVyfGltYWdlc3w0OTIyM3xpbWFnZS9qcGVnfGltYWdlcy9oNTAvaGFkLzg4MjU3MDg2MDk1NjYuanBnfGY2OGU5NzY0MGQ3OTVjMTAwYjJjODJjYzZiZjZjMzU1NDQ2MGVmMTQxNzg1MGQ5M2I2ZjAxMWEwNzE0M2VkYjU"  alt="...">
                    <div class="carousel-caption">
                        <h3 style="color:blue">Kulaklık</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="http://www.lenovo.com/images/OneWebImages/FormFactor/Laptops/Lenovo/400x300/lenovo-laptop-yoga-500-series.png" alt="...">
                    <div class="carousel-caption">
                        <h3 style="color:blue">Bilgisayar</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="http://www3.lenovo.com/medias/tab-2-a8-splitter.png?context=bWFzdGVyfHJvb3R8OTg1NTl8aW1hZ2UvcG5nfGhhMS9oN2UvOTI0NTQ1MjU5OTMyNi5wbmd8ZDM5YzAyNzFhYWEwODc5MjBjMTEwNTFmMTYzOTM2NDM2ZDczYThmMWU3MDljNGQ4OWQ0OTQyMzI5NzZhYzIzOA" alt="...">
                    <div class="carousel-caption">
                        <h3 style="color:blue">Tablet</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="http://store.storeimages.cdn-apple.com/4662/as-images.apple.com/is/image/AppleInc/aos/published/images/s/eg/segment/hero/segment-hero-iphonese-201609?wid=400&hei=300&fmt=png-alpha&qlt=95&.v=1473014761782" alt="...">
                    <div class="carousel-caption">
                        <h3 style="color:blue">Telefon</h3>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    @Html.Action("index_goster")
</div>
