﻿@{
    ViewBag.Title = "Kategori";
}

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="Urunler/Telefonlar/1">@teknosatis.Resources.lang.Telefon</a>
            </h4>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="Urunler/Bilgisayarlar/1">@teknosatis.Resources.lang.Bilgisayar</a>
            </h4>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="Urunler/Kulaklıklar/1">@teknosatis.Resources.lang.Kulaklık</a>
            </h4>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="Urunler/Tabletler/1">@teknosatis.Resources.lang.Tablet</a>
            </h4>
        </div>
    </div>
</div>