﻿@model IEnumerable<teknosatis.Models.Urun>

@{
    ViewBag.Title = @teknosatis.Resources.lang.Sepet;
}

<hr />
<h3 class="text-center">@teknosatis.Resources.lang.AlisverisSepeti</h3>
<br />
<div class="row">
    <table class="table table-bordered text-center">
        <tr>
            <th class="text-center">@teknosatis.Resources.lang.Gorsel</th>
            <th class="text-center">@teknosatis.Resources.lang.Ad</th>
            <th class="text-center">@teknosatis.Resources.lang.Detay</th>
            <th class="text-center">@teknosatis.Resources.lang.Fiyat</th>
        </tr>

        @if (Model.Count() < 1)
        {
            <tr>
                <th colspan="5" class="text-center">@teknosatis.Resources.lang.SepetinizBos</th>
            </tr>
        }
        @{
            float toplam = 0;
        }
        @foreach (var i in Model)
        {
            toplam += (float)i.Fiyat;
            <tr>
                <td><img src="@Html.DisplayFor(modelItem => i.ResimYol)" class="img-responsive  text-center" width="50" /></td>
                <td>@Html.DisplayFor(modelItem => i.Ad)</td>
                <td>@Html.DisplayFor(modelItem => i.Detay)</td>
                <td>@Html.DisplayFor(modelItem => i.Fiyat)</td>
                <td><a href="/Sepet/Cikar/@Html.DisplayFor(modelItem => i.ID)" class="btn btn-warning">@teknosatis.Resources.lang.Cikar</a></td>
            </tr>
        }
        <tr>
            <th colspan="5" class="text-center"><h3 style="color:#000000;font-weight:bold;font-family: Times New Roman;">@teknosatis.Resources.lang.ToplamTutar:@toplam</h3></th>
        </tr>
    </table>

    @if (Model.Count() > 0)
    {
        <div class="row ol-md-12 text-center">
            <a href="/Sepet/SatinAl" class="btn btn-success">@teknosatis.Resources.lang.SiparisiTamamla</a>
        </div>
    }

</div>
