﻿@model teknosatis.Models.GirisModel

@{
    ViewBag.Title = @teknosatis.Resources.lang.GirisYap;
}

<hr />
<div class="row">

    <div class="panel">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    @teknosatis.Resources.lang.GirisPaneli
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("GirisYap", "Uyes", FormMethod.Post, new { @class = "form-horizontal", @role = "form", enctype = "multipart/form-data", id = "formKapsayici" }))
                    {
                        <p>@Html.TextBoxFor(i => Model.Eposta, new { @class = "form-control", @style = "margin-left:auto;margin-right:auto;", @placeholder = @teknosatis.Resources.lang.LutfenEpostaGir })</p>
                        <p>@Html.TextBoxFor(i => Model.Sifre, new { @class = "form-control", @style = "margin-left:auto;margin-right:auto;", @placeholder = @teknosatis.Resources.lang.LutfenSifreGir , @type = "password" })</p>
                        <p><input type="submit" value=@teknosatis.Resources.lang.GirisYap class="btn btn-block" style="margin-left:auto;margin-right:auto;" /></p>
                        <p class="text-center">@ViewBag.uyari</p>


                        @Html.ValidationSummary()
                    }
                </div>
            </div>
        </div>
    </div>

</div>